@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700&display=swap");

:root {
  --primary: #00a97f;
  --light: rgba(133, 198, 218, 255);
  --dark: rgba(13, 13, 10, 255);
  --darker: rgba(234, 157, 90, 255);
  --lighter: #cbd6cf;
  --lighter1: #c3dacc86;
  --lighter2: #e4f0e9da;
  --darken: #cca27e;
  --color: orangered;
  --search: #ff6000;
  --primary1: #2b3d4c;
  --primary2: #354d61;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 40px;
  color: var(--search);
}

h2 {
  font-weight: 400;
  font-size: 24px;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  transition: 0.5s ease;
}
a:hover {
  color: #535bf2;
}

p {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: var(--primary1);
}

input:focus {
  outline: none;
}
.gap-30 {
  padding: 0 10px;
}

.active {
  color: var(--primary);
  text-decoration: underline;
}

.not-active {
  color: var(--primary1);
}

.news-letter {
  background-color: var(--lighter1);
}
#basic-addon2 {
  background-color: transparent;
  text-align: center;
  line-height: 0;
  transition: 0.5s ease;
  font-size: 16px;
}

#basic-addon2:hover {
  color: var(--search);
}

#news-input {
  height: 3rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
