.f-pass {
  padding: 20px;
}
.forgetpassword-cont {
  justify-content: center;
}
.forgetpass-body {
  padding: 1.5rem;
}
.fpass-emailbox {
  text-align: center;
  margin-bottom: 1rem;
  color: #00a97f;
}
.mail-label {
  margin-bottom: 1.25rem;
}
.fpass-submitbtn {
  display: grid;
  gap: 2rem;
}
.fpass-message {
  text-align: center;
  margin-top: 1rem;
}
